# --- PROVEEDOR DE IA (OpenRouter) ---
OPENAI_API_KEY="YOUR_API_KEY"

# --- ELASTICSEARCH (Datos de Producción) ---
ELASTIC_URL="YOUR_ELASTIC_URL"
ELASTIC_INDEX="YOUR_ELASTIC_INDEX"
ELASTIC_USER="YOUR_ELASTIC_USER"
ELASTIC_PASSWORD="YOUR_ELASTIC_PASSWORD"

ELASTIC_CERT_PATH="YOUR_ELASTIC_CERTIFICATE"

ELASTIC_VERIFY_SSL=True

EMBEDDING_API_URL="http://192.199.1.61:8000/api/embed"
